{% extends 'base.html' %}

{% block content %}
<main>
    
    <div>
        <h1> My Projects </h1>
        <p><a href ="{% url 'create_project' %}">Create a new project</a></p>
        <table>
            <thead> 
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for project in projects_list %}
                <tr>
                <td>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                </td>
                <td>{{ project.tasks.all|length }}
                </tr>
                {%empty%}
                <p>You are not assigned to any projects</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
